EXPO_PUBLIC_API_URL=http://YOUR_WIFI_IP:5000/api #Taper ifconfig | grep "inet " | grep -v 127.0.0.1 dans le terminal pour la trouver
EXPO_PUBLIC_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
